#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
html, body {
  margin: 0;
  padding: 0;
}
input, button, select {
  padding: 0;
  border: 0;
  background-color: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/*
Color Palette:
https://coolors.co/8bd096-91ccc8-f4f1b7-f2ee83-c1bf72

Colors:
floral-white:
 - #FEFDFB;
 - rgba(254, 253, 251, 1);
accent-white:
 - #F4F4EB;
eerie-black:
 - #1E1E12;
 - rgba(58, 41, 12, 1);
jasper:
 - #CE3D3D;
 - rgba(0, 70, 81, 1);
dark-sea-green: 
 - #8BD096;
 - rgba(130, 33, 82, 1);
middle-blue-green:
 - #91CCC8;
 - rgba(176, 29, 80, 1);
blond:
 - #F4F1B7;
 - rgba(57, 25, 96, 1);
sunny:
 - #F2EE83;
 - rgba(58, 46, 95, 1);
dark-khaki:
 - #C1BF72;
 - rgba(58, 41, 76, 1);
*/


.button {
  display: flex;
  height: 2em;
  justify-content: center;
  padding: 0.1em 0.75em;
  border: 1px solid #91CCC8;
  color: #91CCC8;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  background-color: #91CCC8;
  color: white;
}

.button-black {
  color: #1E1E12;
  border: 1px solid #1E1E12;
}
.button-black:hover {
  background-color: #1E1E12;
  color: white;
}

.row {
  display: flex;
}

.space-right {
  margin-left: auto;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 23em;
  height: 7em;
  padding: 1em;
}

.title {
  font-size: 2.75em;
  color: #1E1E12;
}

.scores {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.score {
  background-color: #91CCC8;
  margin-left: 0.5em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
}
.score-title {
  font-size: .75em;
}
.score-value {

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 23em;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(58, 41, 76, 0.5);
}

.tile {
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  margin: 6px;
  justify-content: center;
  align-items: center;
  color: #FEFDFB;
  background-color: #91CCC8;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5em;
  height: 5em;
}

.tile-empty {
  background-color: initial;
}

.tile-move {
  transition: transform .09s ease;
}

.shadow-board {
  position: absolute;
  height: 368px;
  background-color: initial;
}

.shadow-tile {
  z-index: -1;
}


.points {
  position: absolute;
  color: #8BD096;
  margin-top: -40px;
}
.points-item {
  display: inline-block;
}
.points-enter-active, .points-leave-active {
  transition: all 100ms;
}
.points-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.points-enter {
  transform: translateY(30px);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(254, 253, 251, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.fade-enter-active {
  transition: opacity 2s
}
.fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
